* {
  padding: 0;
  margin: 0;
}

.van-card,
.van-cell,
.van-field {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.van-card {
  background-color: #ffffff !important;
}

.the-wall {
  box-sizing: border-box;
  padding: @tb_padding;
}

.the-white {
  background-color: #ffffff;
}

.the-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bg-gray {
  box-sizing: border-box;
  height: 100vh;
  overflow: scroll;
  -webkit-overflow-scrolling: touch; //解决ios手机页面滑动卡顿
  background-color: #fafafa;
  &::-webkit-scrollbar {
    display: none;
  }
}

.bg {
  box-sizing: border-box;
  height: 100vh;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }
}

// 基础样式
// 二级标题
.h2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  vertical-align: middle;
}

.h3 {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  vertical-align: middle;
}

// 嵌入图标
.inner::before {
  transform: translateY(15%);
}

// 1px分割线

[class*='main-line'] {
  position: relative;
  &::after {
    position: absolute;
    content: '';
    pointer-events: none;

    left: 0;
    width: 100%;
    height: 1px;

    background-color: rgba(128, 128, 128, 0.38);

    @media only screen and (-webkit-device-pixel-ratio: 2) {
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5);
    }
    @media only screen and (-webkit-device-pixel-ratio: 3) {
      -webkit-transform: scaleY(0.33);
      transform: scaleY(0.33);
    }
  }
}

.main-line-bottom::after {
  bottom: 0;
}
.main-line-top::after {
  top: 0;
}
